body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 200%;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  color: ghostwhite;
  background-image: url("img/space.jpg");
}

#container {
  width: 584px;
  margin: auto;
}

img, #myCanvasHidden {
  display: none;
}

#north, #south {
  clear: both;
  width: 584px;
}

#east, #west {
  float: left;
  height: 400px;
  line-height: 400px;
  width: 80px;
  margin: 10px 0px;
}

#myCanvas {
  float: left;
  margin: 10px;
}
