body {
  font-family: Ubuntu, Arial, sans-serif;
  background-image: url("img/space.jpg");
  background-size: 100%;
  padding: 20px;
}

.cardinal {
  font-size: 200%;
  text-align: center;
  font-weight: 700;
  color: seashell;
}

#container {
  width: 684px;
  margin: auto;
}

img, #myCanvasHidden {
  display: none;
}

.score {
  float: left;
  width: 68px;
  max-width: 68px;
  font-size: 100%;
  text-align: left;
  font-weight: 500;
  background-color: seashell;
  border: 2px solid black;
  padding: 10px;
}

#value1, #value2 {
  float: right;
  display: inline-block;
}

#score1 {
  color: darkblue;
}

#score2 {
  color: darkred;
}

#north {
  float: left;
  width: 500px;
}

#south, #upper, .clearer {
  clear: both;
  width: 684px;
}

#east, #west {
  float: left;
  height: 500px;
  line-height: 500px;
  width: 80px;
  margin: 10px 0px;
}

#myCanvas {
  float: left;
  margin: 10px;
}
